@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
.header{
  display: flex;
  justify-content: space-between;
  
}
.header ul{
  padding-inline-start: 0;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0px 16px;
}

.header a{
  text-decoration: none;
  color: #696868;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.content .buttons button{
  padding: 8px 16px;
}

.footer{
  background-color : #eeeeee;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.footer ul{
  display: flex;
  gap: 20px;
  padding-inline-start: 0;
  list-style: none;
  padding: 0px 16px;
}

.footer a{
  text-decoration: none;
  color: #696868 ;
}

