body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  padding: 0px 16px;
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}
.main-container{
  display: flex;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: #126391;
  box-sizing: border-box;
  padding: 16px 10px;
  align-self: stretch;
  flex-shrink: 0.6;
}
.sidebar ul{
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start:0 ;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidebar a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.card-container{
  display: flex;
  flex-flow: row wrap;
  padding: 32px 30px;
  gap: 24px;
  justify-content: center;
}

.card {
  padding: 16px 10px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-basis: 380px;
  min-height: 330px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;

}


